h1 {
    position: relative;
    padding: 0.2em 0.5em;
    background: -webkit-linear-gradient(to right, rgb(137, 184, 255), #c5ceff);
    background: linear-gradient(to right, rgb(137, 184, 255), #c5ceff);
    color: #495193;
    font-weight: lighter;
    border-left: solid 5px #7db4ff;
}

ul {
    border: ridge 3px #808080;
    margin: 0;
    padding: 0;
    list-style-type: none;
    display: flex;

}
.select {
    display: block;
    padding: 6px 20px;

}